body {
  display: flex;
  justify-content: center;
  background-image: url(./assets/1600w-99v34p26kG0.webp);
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
}

td {
  width: 250px;
  font-size: 18px;
  background-color:whitesmoke;
  border-radius: 20px;
  height: 80px;
}

input {
  border-radius: 20px;
  width: 400px;
}